body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    align-content: center;
}  

.grid {
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.89);
}

.grid div {
    background-color: #292425;
}

div {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.non-bomb {
    height: 50px;
    width: 50px;
    border: 2px solid;
    box-sizing: border-box;
    cursor: pointer;
}

.checked {
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-color: #9c998d;
    box-sizing: border-box;
}

.bomb {
    height: 50px;
    width: 50px;
    border: 2px solid;
    box-sizing: border-box;
    background-color: red;
    cursor: pointer;
}

.flags-left {
    font-size: .6em;
    margin-top: 10px;
    display: flex;
    justify-content: start;
}

button {
    background-color: #292425;
    color: #e76346;
    padding: 5px 15px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.89);
}

.one {
    color: #e76346;
}
  
.two {
color: #4199d3;
}

.three {
color: #57da59;
}

.four{
color: #bb41d3;
}

.five{
color: #389699;
}

#result {
margin-top: 5px;
color: #e76346;
}
 